*{
  margin: 0;
  padding: 0;
}

body{
  background-color: hsl(0, 0%, 81%);
  font-family: "Barlow Semi Condensed";
  font-size: 13px;
}

.card{
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 50px;
  padding: 50px;
}

.img-circular {
  width: 2%;
  border: 2px solid #fff;
  border-radius: 50%;
}

.bg-1{
  background-color: hsl(263, 55%, 52%);
}

.bg-2{
  background-color: hsl(217, 19%, 35%);
}

.bg-3{
  background-color: hsl(219, 29%, 14%);
}

.one{
  color: #fff;
}

.two{
  color: hsl(217, 19%, 35%);
  background-color: #fff;
}

.attribution {
  font-size: 11px; text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
