*{
  margin: 0;
  padding: 0;
}

body{
  background-color: hsl(0, 0%, 81%);
  font-family: "Barlow Semi Condensed";
  font-size: 13px;
}

.main{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(19rem,1fr));
  grid-auto-rows: auto;
  gap: 3rem;
  padding: 3rem 4rem ;
}

.card{
  text-align: left;
  border-radius: 15px;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 18px 15px 44px rgb(103 96 96 / 30%)
}

.img-circular {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 30px;
  padding: 0;
  margin-bottom: -5px;
}


h3{
   font-size: 1.25rem;
   font-weight: 400;
   padding: 10px;
}

p{
  opacity: 70%;
  line-height: 20px;
  padding: 10px;
  margin: 0;
  width:
}

#clifford{
  background-color: hsl(263, 55%, 52%);
  grid-column: span 2/auto;
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-x:75%;
}


#walters{
  background-color: hsl(217, 19%, 35%);
}

#abrams{
  grid-column: span 2/auto;
  background-color: hsl(219, 29%, 14%);
}


#whittle{
  grid-row: span 2/auto;
}

.one{
  color: #fff;
}

.two{
  color: hsl(217, 19%, 35%);
  background-color: #fff;
}

.attribution {
  font-size: 11px; text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
